{% extends 'candidat/base/base.html' %}
{% load static %}
{% block content %}

	<section>
		<div class="gap">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div id="page-contents" class="row merged20">
							<div class="col-lg-9">
								<ul class="cards filtr-tabs" data-aos="fade-down"
								data-aos-duration="1000"
								data-aos-easing="ease-in-sine">
									{% if villes %}
									{% for ville in villes %}
									
									<li class="card justify-content-center " style="background: #fff; height:25gpx">
											
										<a style="color: rgb(2, 115, 20); background: transparent; font-size: 19px; font-weight: 600;"  
											{% if ville.pk == id %} class="active" {% endif %} href="{% url 'listCandidat' ville.pk %}" title="">{{ville.libelle}}</a>
							
									</li>
									{% endfor %}
									{% else %}
									Pas de ville disponible
									{% endif %}
									
								</ul><!-- tab buttons -->
								<div class="main-wraper">
									<h4 class="main-title">En vogue</h4>
									<div class="rec-grp-caro">
										<div class="row remove-ext-30">
											{% if candidats_vote_podium %}
											{% for candidats_vote in candidats_vote_podium %}
											<div class="col-lg-4 col-md-4 col-sm-12">
												<div class="rec-group">
													<div style="width:154px; height:229px" class="rec-groupbox">
														<figure><img style="width:100%; height:229px" src="/media/{{candidats_vote.fond}}" alt=""></figure>
														<div class="grp-dp"><img style="width:70px; height:70px" src="/media/{{candidats_vote.image}}" alt=""></div>
													</div>
													<div class="row d-flex">
														<div class="grp-name text-center" style="padding-left:0">
															<h5 class="text-start text "><a class="text-start" href="group-detail.html"> {{ candidats_vote.nom}} {{ candidats_vote.prenoms}} </a></h5>
															<span class="text-start">@{{candidats_vote.surnom}} </span>
															<h6 style="color:white">Cote: {{candidats_vote.ratio_vote_ville }}%</h6>
														</div>
													</div>			
												</div>
											</div>
											{% endfor %}
											{% else %}
											<div class="col-lg-4 col-md-4 col-sm-12">
												<div class="rec-group">
													Aucun sondage effectué
												</div>
											</div>
											{% endif %}
										</div>
									</div>	
								</div>
								<div class="main-wraper">
									<h4 class="main-title"><i class=""><svg class="feather feather-users" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="18" width="18" xmlns="http://www.w3.org/2000/svg"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"/><circle r="4" cy="7" cx="9"/><path d="M23 21v-2a4 4 0 0 0-3-3.87"/><path d="M16 3.13a4 4 0 0 1 0 7.75"/></svg></i> Liste des candidats</h4>
									{% if candidats %}
									<div class="row col-xs-6">
											{% for candidat in candidats %}
											<div class="col-lg-3 col-md-4 col-sm-4">
												<div class="group-box">
													{% if candidat.image %}
													<figure><img style="width:100px; height:100px" src="/media/{{candidat.image}}" alt=""></figure>
													{% else %}
													<figure><img src="{% static 'img/images/resources/group11.jpg' %}" alt=""></figure>
													{% endif %}
													<a href="#" title="">{{candidat.nom}} {{candidat.prenoms}}</a>
													<span>{{candidat.parti_politique}}</span>
													<button><a href="../candidat/{{candidat.pk}}">Voir ma page</a></button>
												</div>
											</div>
											{% endfor %}
										</div>
									{% else %}
										Aucun candidat inscrit
									{% endif %}
								</div>
							</div>
							<div class="col-lg-3">
								<aside class="sidebar static right">
									<div class="widget" data-aos="fade-right"
                                    data-aos-duration="1000"
                                    data-aos-easing="ease-in-sine">
										{% comment %} <h4 class="widget-title">Recent</h4> {% endcomment %}
										<ul class="recent-links">
											<li>
												<figure><img alt="" src="images/resources/recentlink-1.jpg"></figure>
												<div class="re-links-meta" style="display: flex;">
													<img style="height: 15px; margin-right: 15px" src="{% static 'img/debat.png' %}" alt=""></i>
													<h6><a title=""  href="/accueil">Accueil</a></h6>
												</div>
											</li>
											<li>
												<figure><img alt="" src="images/resources/recentlink-3.jpg"></figure>
												<div class="re-links-meta" style="display: flex;">
													<img style="height: 15px; margin-right: 15px" src="{% static 'img/sondage.png' %}" alt=""></i>
													<h6><a title=""  href="#">Sondage</a></h6>
												</div>
											</li>
											<li>
												<figure><img alt="" src="images/resources/recentlink-2.jpg"></figure>
												<div class="re-links-meta" style="display: flex;">
													<img style="height: 15px; margin-right: 15px" src="{% static 'img/localisation.png' %}" alt=""></i>
													<h6><a title=""  href="/vote/carte/">Cartographie</a></h6>
												</div>
											</li>
										</ul>
									</div><!-- recent blog -->
									<div class="widget" style="text-align: center;"  data-aos="fade-up"
                                    data-aos-duration="1000"
                                    data-aos-easing="ease-in-sine">
										<h4 class="widget-title" style="text-align: left;">Sondage</h4>
										<p style="text-align: left;">
											Trouver le candidats qui correspond a vos convictions en répondant a des questions d'ordre
											<img src="{% static 'img/game_img.jfif' %}" alt="">
										</p>
										
										<a  class="main-btn" href="/vote/carte/"style="background: rgb(255, 238, 224);   color: rgb(255, 114, 0);" title="" data-ripple="">FAIRE LE TEST</a>
									</div><!-- your profile -->
								</aside>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<style>
	.cards {
		display: flex;
		padding: 25px 0px;
		list-style: none;
		overflow-x: scroll;
		-ms-scroll-snap-type: x mandatory;
		scroll-snap-type: x mandatory;
	}
	
	.card {
		display: flex;
		flex-direction: column;
		flex: 0 0 100%;
		padding: 20px;
		background: var(--white);
		border-radius: 12px;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
		scroll-snap-align: start;
		transition: all 0.2s;
	}
	
	.card:not(:last-child) {
		margin-right: 10px;
	}
	
	.card:hover {
		color: white;
		background: #e0e0e0;
	}
	
	.card .card-title {
		font-size: 20px;
	}
	
	.card .card-content {
		margin: 20px 0;
		max-width: 85%;
	}
	
	.card .card-link-wrapper {
		margin-top: auto;
	}
	
	.card .card-link {
		display: inline-block;
		text-decoration: none;
		color: white;
		background: var(--red);
		padding: 6px 12px;
		border-radius: 8px;
		transition: background 0.2s;
	}
	
	.card:hover .card-link {
		background: var(--darkred);
	}
	
	.cards::-webkit-scrollbar {
		height: 12px;
	}
	
	.cards::-webkit-scrollbar-thumb,
	.cards::-webkit-scrollbar-track {
		border-radius: 92px;
	}
	
	.cards::-webkit-scrollbar-thumb {
		background: var(--darkred);
	}
	
	.cards::-webkit-scrollbar-track {
		background: var(--thumb);
	}
	
	@media (min-width: 500px) {
		.card {
			flex-basis: calc(50% - 10px);
		}
	
		.card:not(:last-child) {
			margin-right: 20px;
		}
	}
	
	@media (min-width: 700px) {
		.card {
			flex-basis: calc(calc(100% / 3) - 20px);
		}
	
		.card:not(:last-child) {
			margin-right: 30px;
		}
	}
	
	@media (min-width: 1100px) {
		.card {
			flex-basis: calc(25% - 30px);
		}
	
		.card:not(:last-child) {
			margin-right: 40px;
		}
	}
</style>
{% endblock content %}