{% extends 'candidat/base/base.html' %}
{% load static %}
{% block content %}

	<section>
		<div class="gap">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div id="page-contents" class="row merged20">
							<div class="col-lg-9">
								<ul class="filtr-tabs" data-aos="fade-down"
								data-aos-duration="1000"
								data-aos-easing="ease-in-sine">
									{% if villes %}
									{% for ville in villes %}
									
									<li style="background: "><a style="color: rgb(216, 233, 218); background: rgb(2, 115, 20); margin-bottom:5px"  
										{% if ville.pk == id %} class="active" {% endif %} href="{% url 'listCandidat' ville.pk %}" title="">{{ville.libelle}}</a></li>
									{% endfor %}
									{% else %}
									Pas de ville disponible
									{% endif %}
								</ul><!-- tab buttons -->
								<div class="main-wraper">
									<h4 class="main-title">En vogue</h4>
									<div class="rec-grp-caro">
										<div class="row remove-ext-30">
											{% if candidats_vote_podium %}
											{% for candidats_vote in candidats_vote_podium %}
											<div class="col-lg-4 col-md-4 col-sm-12">
												<div class="rec-group">
													<span>Free</span>
													<div style="width:154px; height:229px" class="rec-groupbox">
														<figure><img style="width:216px; height:229px" src="/media/{{candidats_vote.fond}}" alt=""></figure>
														<div class="grp-dp"><img style="width:50px; height:50px" src="/media/{{candidats_vote.img}}" alt=""></div>
													</div>
													<div class="row d-flex">
														<div class="grp-name" style="padding-left:0">
															<h5 class="text-start"><a class="text-start" href="group-detail.html"> {{ candidats_vote.nom}} {{ candidats_vote.prenoms}} </a></h5>
															<span class="text-start">@{{candidats_vote.surnom}} </span>
															<h6 style="color:white">Cote: {{candidats_vote.ratio_vote_ville }}%</h6>
														</div>
													</div>			
												</div>
											</div>
											{% endfor %}
											{% else %}
											<div class="col-lg-4 col-md-4 col-sm-12">
												<div class="rec-group">
													Aucun sondage
												</div>
											</div>
											{% endif %}
										</div>
									</div>	
								</div>
								<div class="main-wraper">
									<h4 class="main-title"><i class=""><svg class="feather feather-users" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="18" width="18" xmlns="http://www.w3.org/2000/svg"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"/><circle r="4" cy="7" cx="9"/><path d="M23 21v-2a4 4 0 0 0-3-3.87"/><path d="M16 3.13a4 4 0 0 1 0 7.75"/></svg></i> Liste des candidats</h4>
									{% if candidats %}
									<div class="row col-xs-6">
											{% for candidat in candidats %}
											<div class="col-lg-3 col-md-4 col-sm-4">
												<div class="group-box">
													{% if candidat.image %}
													<figure><img style="width:100px; height:100px" src="media/{{candidat.image}}" alt=""></figure>
													{% else %}
													<figure><img src="{% static 'img/images/resources/group11.jpg' %}" alt=""></figure>
													{% endif %}
													<a href="#" title="">{{candidat.nom}} {{candidat.prenoms}}</a>
													<span>{{candidat.parti_politique}}</span>
													<button><a href="../candidat/{{candidat.pk}}">Voir ma page</a></button>
												</div>
											</div>
											{% endfor %}
										</div>
									{% else %}
										Aucun candidat inscrit
									{% endif %}
								</div>
							</div>
							<div class="col-lg-3">
								<aside class="sidebar static right">
									<div class="widget">
										<h4 class="widget-title">Popular Books</h4>
										<div class="popular-book">
											<figure><img src="images/resources/book10.jpg" alt=""></figure>
											<div class="book-about">
												<h6><a href="#" title="">Vu.js 2 Basics</a></h6>
												<span>Richard Ali</span>
												<a href="#" title="Book Mark"><i class="">
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg></i></a>
											</div>
										</div>
										<div class="popular-book">
											<figure><img src="images/resources/book9.jpg" alt=""></figure>
											<div class="book-about">
												<h6><a href="#" title="">Css3 for Bigners</a></h6>
												<span>Richard Ali</span>
												<a href="#" title="Book Mark"><i class="">
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg></i></a>
											</div>
										</div>
										<div class="popular-book">
											<figure><img src="images/resources/book5.jpg" alt=""></figure>
											<div class="book-about">
												<h6><a href="#" title="">Technology Wants 2020</a></h6>
												<span>Richard Ali</span>
												<a href="#" title="Book Mark"><i class="">
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg></i></a>
											</div>
										</div>
									</div>
									<div class="widget">
										<h4 class="widget-title">Ask Research Question?</h4>
										<div class="ask-question">
											<i class="icofont-question-circle"></i>
											<h6>Ask questions in Q&A to get help from experts in your field.</h6>
											<a class="ask-qst" href="#" title="">Ask a question</a>
										</div>
									</div>
									<div class="widget">
										<h4 class="widget-title">Explor Events <a class="see-all" href="#" title="">See All</a></h4>
										<div class="rec-events bg-purple">
											<i class="icofont-gift"></i>
											<h6><a title="" href="">BZ University good night event in columbia</a></h6>
											<img alt="" src="images/clock.png">
										</div>
										<div class="rec-events bg-blue">
											<i class="icofont-microphone"></i>
											<h6><a title="" href="">The 3rd International Conference 2020</a></h6>
											<img alt="" src="images/clock.png">
										</div>
									</div>
									<div class="widget stick-widget">
										<h4 class="widget-title">Who's follownig</h4>
										<ul class="followers" >
											<li>
												<figure><img alt="" src="images/resources/friend-avatar.jpg"></figure>
												<div class="friend-meta">
													<h4>
														<a title="" href="time-line.html">Kelly Bill</a>
														<span>Dept colleague</span>
													</h4>
													<a class="underline" title="" href="#">Follow</a>
												</div>
											</li>
											<li>
												<figure><img alt="" src="images/resources/friend-avatar2.jpg"></figure>
												<div class="friend-meta">
													<h4>
														<a title="" href="time-line.html">Issabel</a>
														<span>Dept colleague</span>
													</h4>
													<a class="underline" title="" href="#">Follow</a>
												</div>
											</li>
											<li>
												<figure><img alt="" src="images/resources/friend-avatar3.jpg"></figure>
												<div class="friend-meta">
													<h4>
														<a title="" href="time-line.html">Andrew</a>
														<span>Dept colleague</span>
													</h4>
													<a class="underline" title="" href="#">Follow</a>
												</div>
											</li>
											<li>
												<figure><img alt="" src="images/resources/friend-avatar4.jpg"></figure>
												<div class="friend-meta">
													<h4>
														<a title="" href="time-line.html">Sophia</a>
														<span>Dept colleague</span>
													</h4>
													<a class="underline" title="" href="#">Follow</a>
												</div>
											</li>
											<li>
												<figure><img alt="" src="images/resources/friend-avatar5.jpg"></figure>
												<div class="friend-meta">
													<h4>
														<a title="" href="time-line.html">Allen</a>
														<span>Dept colleague</span>
													</h4>
													<a class="underline" title="" href="#">Follow</a>
												</div>
											</li>
										</ul>	
									</div>
								</aside>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
{% endblock content %}