{% extends 'candidat/base/base.html' %}
{% load static %}
{% block content %}
	<section>
		<div class="gap">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div id="page-contents" class="row merged20">
							<div class="col-lg-3">
								<aside class="sidebar static left">
									<div class="advertisment-box" data-aos="fade-right"
                                    data-aos-duration="1000"
                                    data-aos-easing="ease-in-sine">
										<figure>
											<a href="#" title="Advertisment"><img src="{% static 'img/images/resources/ad-widget2.gif' %}" alt=""></a>
										</figure>
									</div><!-- adversment widget -->
									
									<div class="widget" data-aos="fade-right"
                                    data-aos-duration="1000"
                                    data-aos-easing="ease-in-sine">
										{% comment %} <h4 class="widget-title">Recent</h4> {% endcomment %}
										<ul class="recent-links">
											<li>
												<figure><img alt="" src="images/resources/recentlink-1.jpg"></figure>
												<div class="re-links-meta" style="display: flex;">
													<img style="height: 15px; margin-right: 15px" src="{% static 'img/debat.png' %}" alt=""></i>
													<h6><a title=""  href="#">Débat</a></h6>
												</div>
											</li>
											<li>
												<figure><img alt="" src="images/resources/recentlink-3.jpg"></figure>
												<div class="re-links-meta" style="display: flex;">
													<img style="height: 15px; margin-right: 15px" src="{% static 'img/sondage.png' %}" alt=""></i>
													<h6><a title=""  href="#">Sondage</a></h6>
												</div>
											</li>
											<li>
												<figure><img alt="" src="images/resources/recentlink-2.jpg"></figure>
												<div class="re-links-meta" style="display: flex;">
													<img style="height: 15px; margin-right: 15px" src="{% static 'img/localisation.png' %}" alt=""></i>
													<h6><a title=""  href="/vote/carte/">Cartographie</a></h6>
												</div>
											</li>
										</ul>
									</div><!-- recent blog -->
									<div class="widget" style="text-align: center;"  data-aos="fade-up"
                                    data-aos-duration="1000"
                                    data-aos-easing="ease-in-sine">
										<h4 class="widget-title" style="text-align: left;">Sondage</h4>
										<p style="text-align: left;">
											Trouver le candidats qui correspond a vos convictions en répondant a des questions d'ordre
											<img src="{% static 'img/game_img.jfif' %}" alt="">
										</p>
										
										<a  class="main-btn" href="vote/3"style="background: rgb(255, 238, 224);   color: rgb(255, 114, 0);" title="" data-ripple="">FAIRE LE TEST</a>
									</div><!-- your profile -->
								</aside>
							</div>
							<div class="col-lg-6">
								<ul class="filtr-tabs" data-aos="fade-down"
								data-aos-duration="1000"
								data-aos-easing="ease-in-sine">
									<li style=" background: #fff; width: 100%; height: 50px; border-radius: 5px;"><a style="color: #333;background: transparent; font-size: 20px"  class="active mt-1" href="#" title="">Propositions</a></li>
								</ul><!-- tab buttons -->
								<ul class="filtr-tabs" data-aos="fade-down"
                                data-aos-duration="1000"
                                data-aos-easing="ease-in-sine">
									<li><a style="color: #ff7200; background-color: white" href="/accueil" title="">Article</a></li>
									<li><a style="color: white; background-color: #ff7200" class="active" href="proposition" title="">Propositions</a></li>
                                    <li><a style="color: #ff7200; background-color: white" href="{% url 'carteC' %}" title="">Candidat</a></li>
								</ul><!-- tab buttons -->
								{% if propositions %}
                                {% for proposition in propositions %}
                                <div class="main-wraper" data-aos="fade-up"
                                data-aos-duration="1000"
                                data-aos-easing="ease-in-sine">
									<div class="user-post">
										<div class="friend-info">
											<figure>
												<em>
 												<svg style="vertical-align: middle;"  xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><path fill="#7fba00" stroke="#7fba00" d="M23,12L20.56,9.22L20.9,5.54L17.29,4.72L15.4,1.54L12,3L8.6,1.54L6.71,4.72L3.1,5.53L3.44,9.21L1,12L3.44,14.78L3.1,18.47L6.71,19.29L8.6,22.47L12,21L15.4,22.46L17.29,19.28L20.9,18.46L20.56,14.78L23,12M10,17L6,13L7.41,11.59L10,14.17L16.59,7.58L18,9L10,17Z"></path></svg></em>
												<img alt="" src="images/resources/user1.jpg">
											</figure>
											<div class="friend-name">
												<div class="more">
													<div class="more-post-optns">
														<i class="">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg></i>
														
													</div>
												</div>
												<ins>
													<a title="verified" href="time-line.html">{{proposition.candidat.nom}} {{proposition.candidat.prenoms}}</a> Share Post</ins>
												<span><i class="icofont-globe"></i> published: {{proposition.date_creation}}</span>
											</div>
											<div class="post-meta">
												<a href="post-detail.html" class="post-title">Thématique: {{proposition.themes_cles.libelle_themes_cles}}</a>
												<p>
                                                    {{proposition.libelle_proposition}}
												</p>
											</div>
										</div>
									</div>
								</div><!--share post without image -->
                                {% endfor %}
                                {% else %}
                                Nothing
                                {% endif %}
							</div>
							<div class="col-lg-3">
								<aside class="sidebar static right">
									<div class="widget" data-aos="fade-left"
                                    data-aos-duration="1000"
                                    data-aos-easing="ease-in-sine">
										<h4 class="widget-title">Suggestions</h4>
										<div class="sug-caro">
											{% if rdCandidat %}
												{% for candidat in rdCandidat %}												
												<div class="friend-box">
													<figure>
														{% if candidat.fond %}
														<img style="width:310px;height:110px;" src="/media/{{candidat.fond}}" alt="">
														{% else %}
														<img alt="" style="width:310px;height:110px;" src="{% static 'img/images/resources/sidebar-info2.jpg' %}">
														{% endif %}
													</figure>
													<div class="frnd-meta">
														{% if candidat.image %}
														<img style="width:110px;height:110px;" src="/media/{{candidat.image}}" alt="">
														{% else %}
														<img alt="" style="width:110px;height:110px;"  src="{% static 'img/images/resources/frnd-figure3.jpg' %}">
														{% endif %} 
														<br>
														<div class="frnd-name">
															<a title="" href="#">{{ candidat.nom }} {{ candidat.prenoms }}</a>
															<span>@{{ candidat.surnom }}</span>
														</div>
														<a class="main-btn2" href="candidat/{{candidat.pk}}" title="">Voir profile</a>
													</div>
												</div>
												{% endfor %}
											{% else %}

											{% endif %}
										</div>	
									</div><!-- suggested group -->
								</aside>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- content -->
{% endblock content %}