{% extends 'candidat/base/base.html' %}
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<section>
		<div class="gap">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div id="page-contents" class="row merged20">
							<div class="col-lg-3">
								<aside class="sidebar static left">
									
									<div class="widget">
										<h4 class="widget-title">Meetings</h4>
										<div class="ask-question">
											<div class="card mb-2" style="padding: 20px">
												<h5><i style="margin-right: 10px; font-size: 20px; " class="fa-regular fa-calendar-days"></i><span style="color: #ff7200;">07 Sep 2003 09:00</span></h5>
												<p>
													Conference 
												</p>
											</div>
											<div class="card mb-2" style="padding: 20px">
												<h5><i style="margin-right: 10px; font-size: 20px; " class="fa-regular fa-calendar-days"></i><span style="color: #ff7200;">07 Sep 2003 09:00</span></h5>
												<p>
													Conference 
												</p>
											</div>
										</div>
									</div>
									<style>
										
										#asking{
											color: #ff7200;
											border-color: #ff7200;
										}
										#asking:hover{
											color: white;
											background-color: #ff7200;
										}
									</style>
									<div class="widget">
										<h4 class="widget-title">Les futurs évènements<a class="see-all" href="#" title="">Voir plus</a></h4>
										<div class="rec-events" style="background-color: #ff7200;">
											<i class="icofont-gift"></i>
											<h6><a title="" href="">Création d'une école</a></h6>
											<img alt="" src="{%static 'img/images/clock.png' %}">
										</div>
										<div class="rec-events" style="background-color: #027314;">
											<i class="icofont-microphone"></i>
											<h6><a title="" href="">La 03ième Conference 2023</a></h6>
											<img alt="" src="{%static 'img/images/clock.png' %}">
										</div>
									</div>
								</aside>
							</div>
							<div class="col-lg-9">
								<div class="group-feed">
									<div class="group-avatar">
										{% if candidat.fond %}
										<img style="width:1130px;height:400px" src="{{ settings.MEDIA_URL }}/media/{{candidat.fond}}" alt="">
										{% else %}
										<img src="{% static 'img/images/resources/profile-banner.jpg' %}" alt="">
										{% endif %}
										<a href="#" title=""><i class="icofont-check-circled"></i>Suivre</a>
										{% if candidat.image %}
										<figure class="group-dp"><img style="width:150px;height:150px" src="{{candidat.image.url}}" alt=""></figure>
										{% else %}
										<figure class="group-dp"><img src="{% static 'img/images/resources/user.jpg' %}" alt=""></figure>
										{% endif %}	
										
									</div>
									<div class="grp-info about">
										<h4>{{ candidat.nom }} {{ candidat.prenoms }} <span>Surnom: @{{ candidat.surnom }}</span> <span>Partie Politique: {{ candidat.parti_politique }}</span></h4>
										<br>
										<ul class="nav nav-tabs about-btn" id="modif">
											<li class="nav-item"><a class="active perso" id="actushow" href="#pictures" data-toggle="tab" style="color: white; background-color: #ff7200;">Fil d'actualité</a></li>
											<li class="nav-item"><a class="perso" id="proposhow" href="#pictures" data-toggle="tab">Propositions</a></li>
											<li class="nav-item"><a class="perso" id="equipeshow" href="#pictures" data-toggle="tab">Equipe</a></li>
											{% comment %} <li class="nav-item"><a class="perso" href="#videos" data-toggle="tab">Sondages</a></li> {% endcomment %}
										</ul>
									</div>
									<div class="main-wraper">
										<div class="grp-about">
											<div class="row">
												<div class="col-lg-8 col-md-6">
													<h4>BIOGRAPHIE</h4>
													<p>{{ candidat.biographie }}</p>
													
												</div>
												<div class="col-lg-4 col-md-6">
													<div class="share-article">
														<span>Reseaux Sociaux</span>
														<a href="#" title="" class="facebook"><i class="icofont-facebook"></i></a>
														<a href="#" title="" class="pinterest"><i class="icofont-pinterest"></i></a>
														<a href="#" title="" class="instagram"><i class="icofont-instagram"></i></a>
														<a href="#" title="" class="twitter"><i class="icofont-twitter"></i></a>
														<a href="#" title="" class="google"><i class="icofont-google-plus"></i></a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12">
											<div class="tab-content">
												<div class="tab-pane active fade show " id="posts" >
													<div class="row merged20">
														<div class="col-lg-8" id="actu">
															{% if articles %} {% for article in articles %}
															<div class="main-wraper">
																<div class="user-post">
																	<div class="friend-info">
																		<figure>
																			<img alt="" src="{%static 'img/images/resources/user4.jpg' %}">
																		</figure>
																		<div class="friend-name">
																			<ins><a title="" href="time-line.html">{{ candidat.nom }} {{ candidat.prenoms }}</a></ins>
																			<span><i class="icofont-globe"></i> Publé: {{article.date_creation}} </span>
																		</div>
																		<div class="post-meta">
																			<a href="post-detail.html" class="post-title">{{ article.titre }}</a>
																			<p>
																				{{ article.content }}
																			</p>
																		</div>
																	</div>
																</div>
															</div><!-- share post without image -->
															{% endfor %} {% else %}
															<h5 class="mt-4" style="text-align: center">Pas d'article</h5>
															{% endif %}
														</div>

														<div class="col-lg-8" id="propo">
															{% if propositions %} {% for proposition in propositions %}
															<div class="main-wraper">
																<div class="user-post">
																	<div class="friend-info">
																		<figure>
																			<img alt="" src="{%static 'img/images/resources/user4.jpg' %}">
																		</figure>
																		<div class="friend-name">
																			<ins><a title="" href="time-line.html">{{ candidat.nom }} {{ candidat.prenoms }}</a></ins>
																			<span><i class="icofont-globe"></i> Publé: {{proposition.date_creation}} </span>
																		</div>
																		<div class="post-meta">
																			<a href="post-detail.html" class="post-title">{{ proposition.themes_cles.libelle_themes_cles }}</a>
																			<p>
																				{{ proposition.libelle_proposition }}
																			</p>
																		</div>
																	</div>
																</div>
															</div><!-- share post without image -->
															{% endfor %} {% else %}
															<h5 class="mt-4" style="text-align: center">Pas de Propositions</h5>
															{% endif %}
														</div>

														<div class="col-lg-8" id="equipe">
															{% if equipes %} {% for equipe in equipes %}
															<div style="background-color:white; height:300px"  class="col-lg-6 col-md-4 col-sm-6 me-auto">
																<div class="friendz">
																	{% if equipe.image.url %}
																	<figure><img src="{{ settings.MEDIA_URL }}{{equipe.image.url}}" alt=""></figure>
																	{% else %}
																	<figure><img src="{% static 'img/images/resources/speak-10.jpg' %}" alt=""></figure>
																	{% endif %}
																	
																	<span><a href="#" title="">{{equipe.nomPrenom}}</a></span>
																	<ins>Poste : {{equipe.poste}}</ins>
																	{% comment %} <a href="#" title="" data-ripple=""><i class="icofont-star"></i>Unfollow</a> {% endcomment %}
																</div>
															</div>
															{% endfor %} {% else %}
															<h5 class="mt-4" style="text-align: center">Pas d'equipe</h5>
															{% endif %}
														</div>
														
														<div class="col-lg-4">
															<aside class="sidebar static left">
																<div class="advertisment-box">
																	<h4 class=""><i class="icofont-info-circle"></i> Informations</h4>
																	<figure>
																		<a href="#" title="Advertisment"><img src="{%static 'img/images/resources/ad-widget2.gif' %}" alt=""></a>
																	</figure>
																</div>
																<div class="widget">
																	<h4 class="widget-title">Autres Candidats</h4>
																	<div class="sug-caro">
																		<div class="friend-box">
																			<figure>
																				<img alt="" src="{%static 'img/images/resources/sidebar-info.jpg' %}">
																				<span>Membres: 505K</span>
																			</figure>
																			<div class="frnd-meta">
																				<img alt="" src="{%static 'img/images/resources/frnd-figure2.jpg' %}">
																				<div class="frnd-name">
																					<a title="" href="#">Candidat</a>
																					<span>Independant</span>
							
																				</div>
																				<a id="link" class="main-btn2" href="#" title="">Voir la page</a>
																				<style>
																					#link{
																						color: #ff7200;
																						border-color: #ff7200;
																					}
																					#link:hover{
																						color: white;
																						background-color: #ff7200;
																					}
																				</style>
																			</div>
																		</div>
																	</div>	
																</div>
															</aside>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script>
		$(document).ready(function(){
			$("#propo").hide();
			$("#equipe").hide();
			$("#proposhow").click(function(){
				$("#actu").hide(1000);
				$("#equipe").hide(1000);
				$("#propo").show(1000);
			});
			$("#actushow").click(function(){
				$("#propo").hide(1000);
				$("#equipe").hide(1000);
				$("#actu").show(1000);
			});
			$("#equipeshow").click(function(){
				$("#propo").hide(1000);
				$("#equipe").show(1000);
				$("#actu").hide(1000);
			});
		});
	</script>
{% endblock content %}