{% extends 'candidat/base/base2.html' %}
{% load static %}
{% block content %}
	<nav class="sidebar">
		<ul class="menu-slide">
			<li class="">
				<a class="" href="{% url 'Dashboard' %}" title="">
					<i><svg id="icon-home" class="feather feather-home" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/><polyline points="9 22 9 12 15 12 15 22"/></svg></i> Dashboard
				</a>
			</li>
			<li class="">
				<a class="" href="analytics.html" title="">
					<i class=""><svg id="ab7" class="feather feather-zap" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"/></svg></i>Gestion de mon compte
				</a>
			</li>
		</ul>
	</nav><!-- sidebar -->

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel-content">
					<h4 class="main-title">Mon profil <i class="icofont-pen-alt-1"></i></h4>
					<div class="row merged20 mb-4">
						<div class="col-lg-4">
							<div class="d-widget text-center">
								<div class="user-avatar-edit">
									<figure><img src="{{ settings.MEDIA_URL }}/media/{{user.candidat.fond}}" alt="dada"></figure>
									
								</div>
								<div class="user-dp-edit">
									<figure>
										<img height="110px" width="110px"src="{{user.candidat.image}}" alt="">
										
									</figure>
									<div class="users-name">
										<h5>{{user.candidat.nom}} <br> {{user.candidat.prenoms}}</h5>
										<span>{{user.candidat.parti_politique}}</span><br>
										<span>{{user.candidat.localisation}}</span>
									</div>
								</div>
								<ul class="folowerss">
									<li><span>Proposition: </span> <i>{{user.candidat.Proposition_set.count}}</i></li>
									<li><span>Article: </span> <i>{{user.candidat.article_set.count}}</i></li>
								</ul>
								<a class="button primary circle" data-bs-toggle="modal" data-bs-target="#EditInfo" style="background-color:#027314" href="#" title=""><i class="icofont-pen-alt-1"></i> Editer</a>
							</div>	
							<div class="d-widget mt-4">
								<div class="d-widget-title"><h5>Liens Sociaux</h5></div>
								<div class="social-links">
									<i class="icofont-facebook"></i>
									<input type="text" placeholder="Mon facebook">
									<em>Mon facebook (...).</em>
								</div>
								<div class="social-links">
									<i class="icofont-instagram"></i>
									<input type="text" placeholder="Mon instagram">
									<em>Mon instagram (...).</em>
								</div>
								<div class="social-links">
									<i class="icofont-twitter"></i>
									<input type="text" placeholder="Mon twitter">
									<em>Mon twitter(...).</em>
								</div>
							</div>
						</div>
						<div class="col-lg-8">
							<nav class="responsive-tab style1">
								<ul data-submenu-title="compounents"
								uk-switcher="connect: #picturez ;animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium" class="uk-grid" uk-sticky="offset:50;media : @m">
									<li><a href="#">Timeline</a></li>
									<li><a href="#">Proposition</a></li>
									<li><a href="#">Mon equipe</a></li>
								</ul>
							</nav>
							<ul class="uk-switcher" id="picturez">
								 <li>
									<button type="button" class="btn btn-primary" style="background-color:#027314; border-color:#027314" data-bs-toggle="modal" data-bs-target="#CreateArticle">
										Creer un article
									</button> <br><br>
								 	<div class="streamline">
										{% if actualites %}
										{% for actualite in actualites %}
										<div class="dash-item">
											<a href="#">
												<div class="sl-avatar ">
													<img alt="avatar" src="/media/{{actualite.image}}" class="img-responsive img-circle">
												</div>
												<div class="sl-content">
													<p class="inline-block"><span class="txt-success">{{actualite.titre}}</span><br><span>{{actualite.content}}</span></p>
													<span class="">{{actualite.date_creation}}</span>
												</div>
											</a>
											<div class="edition-btn">
												<span class="iconbox button soft-primary"><i data-bs-toggle="modal" data-bs-target="#modifArt{{ actualite.pk }}" class="icofont-pen-alt-1"></i></span>
												<span class="iconbox button soft-danger"><a href="{% url 'deleteArt' actualite.pk %}" data-bs-toggle="modal" data-bs-target="#confirmDeleteArt{{ actualite.pk }}">
													<i class="icofont-trash"></i>
												</a></span>
											</div>
										</div>
										 {% comment %} ModifArt {% endcomment %}

										<div class="modal fade" id="modifArt{{ actualite.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
											<div class="modal-content">
												<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">Modifier un article</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<form class="row g-3" method="post" enctype="multipart/form-data" action="{% url 'editArt' actualite.pk %}">
														{% csrf_token %}
														<div class="col-md-6">
														<label for="inputEmail4" class="form-label">Titre</label>
														<input type="text" value="{{actualite.titre}}" name="titre" class="form-control" id="inputEmail4">
														</div>
														<div class="col-md-12">
														<div class="form-floating">
															<textarea class="form-control" name="content" placeholder="Contenu" id="floatingTextarea2" style="height: 100px">{{actualite.content}}</textarea>
															<label for="floatingTextarea2">Comments</label>
														</div>
														</div>
														<div class="mb-3">
															<label for="formFile" class="form-label">Photo</label>
															<input class="form-control" name="photoPP" type="file">
														</div>
														
													
												</div>
												<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
												<button type="submit" class="btn btn-primary">Save changes</button>
												</div>
												</form>
											</div>
											</div>
										</div>
										{% comment %} suppression {% endcomment %}
										<div class="modal fade" id="confirmDeleteArt{{ actualite.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">Confirmer la suppression</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
													</div>
													<form class="row g-3" method="post" action="{% url 'deleteArt' actualite.pk %}">
														{% csrf_token %}
													<div class="modal-body">
														Êtes-vous sûr de vouloir supprimer cet article ?
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
														<button type="submit" class="btn btn-primary" data-bs-dismiss="modal">success</button>
													</div>
													</form>
												</div>
											</div>
										</div>
										{% endfor %}
										{% else %}
										Pas de post fait
										{% endif %}
										
									</div>	

									
								 </li>
								 <li>
									<button type="button" class="btn btn-primary" style="background-color:#027314; border-color:#027314" data-bs-toggle="modal" data-bs-target="#CreateProp">
										Faire une proposition
									</button> <br><br>
									<div class="posted-photo">
										{% if propositions %}
										{% for proposition in propositions %}
										<div class="dash-item">
											<a href="#">
												<div class="sl-avatar ">
													<img alt="avatar" src="{% static 'admin/images/resources/small-pic5.png' %}" class="img-responsive img-circle">
												</div>
												<div class="sl-content">
													<p class="inline-block"><span class="txt-success">{{proposition.themes_cles.libelle_themes_cles}}</span><br><span>{{proposition.libelle_proposition}}</span></p>
													<span class="">{{proposition.date_creation}}</span>
												</div>
											</a>
											<div class="edition-btn">
												<span class="iconbox button soft-primary"><i class="icofont-pen-alt-1" data-bs-toggle="modal" data-bs-target="#modifProp{{ proposition.pk }}"></i></span>
												<span class="iconbox button soft-danger">
													<i class="icofont-trash" data-bs-toggle="modal" data-bs-target="#confirmDeleteProp{{ proposition.pk }}"></i>
												</span>
											</div>
										</div>

										 {% comment %} Modif Propo {% endcomment %}
										<div class="modal fade" id="modifProp{{ proposition.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
											<div class="modal-content">
												<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">Faire une proposition</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<form class="row g-3" method="post" action="{% url 'editProp' proposition.pk %}">
														{% csrf_token %}
														<div class="col-md-12">
															<select class="form-select" name="themes_cles_id" aria-label="Default select example">
																<option selected disabled>Selectionnez un thème</option>
																{% if all_theme %}
																{% for theme in all_theme %}
																<option value="{{theme.pk}}" {% if theme.libelle_themes_cles == proposition.themes_cles.libelle_themes_cles %} selected {% endif %}>{{theme.libelle_themes_cles}}</option>
																{% endfor %}
																{% else %}
																<option value="#">Pas de thème disponible</option>
																{% endif %}
															</select>
														</div>
														
														<div class="col-md-12">
														<div class="form-floating">
															<textarea class="form-control" name="libelle_proposition" id="floatingTextarea2" style="height: 100px">{{proposition.libelle_proposition}}</textarea>
															<label for="floatingTextarea2">Proposition</label>
														</div>
														</div>
													
												</div>
												<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
												<button type="submit" class="btn btn-primary">Save changes</button>
												</div>
												</form>
											</div>
											</div>
										</div>
										{% comment %} suppression {% endcomment %}
										<div class="modal fade" id="confirmDeleteProp{{ proposition.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">Confirmer la suppression</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
													</div>
													<form class="row g-3" method="post" action="{% url 'deleteProp' proposition.pk %}">
														{% csrf_token %}
													<div class="modal-body">
														Êtes-vous sûr de vouloir supprimer cette proposition ?
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
														<button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Sucess</button>
													</div>
													</form>
												</div>
											</div>
										</div>
										
										{% endfor %}
										{% else %}
										Pas de post fait
										{% endif %}
									</div>	
								
								 </li>
								
								 {% comment %} Equipe {% endcomment %}
								 <li>
									<button type="button" class="btn btn-primary" style="background-color:#027314; border-color:#027314" data-bs-toggle="modal" data-bs-target="#CreateEquipe">
										Nouveau membre
									</button> <br><br>
									<div class="posted-photo">
										{% if equipes %}
										{% for equipe in equipes %}
										<div class="dash-item">
											<a href="#">
												<div class="sl-avatar ">
													<img alt="avatar" src="{% static 'admin/images/resources/small-pic5.png' %}" class="img-responsive img-circle">
												</div>
												<div class="sl-content">
													<p class="inline-block"><span class="txt-success">{{equipe.nomPrenom}}</span><br><span>{{equipe.poste}}</span></p>
												</div>
											</a>
											<div class="edition-btn">
												<span class="iconbox button soft-primary"><i class="icofont-pen-alt-1" data-bs-toggle="modal" data-bs-target="#ModifEquipe"></i></span>
												<span class="iconbox button soft-danger">
													<i class="icofont-trash" data-bs-toggle="modal" data-bs-target="#confirmDeleteEquipe{{ equipe.pk }}"></i>
												</span>
											</div>
										</div>

										 {% comment %} Modif Equipe {% endcomment %}
										 <div class="modal fade" id="ModifEquipe" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
											  <div class="modal-content">
												<div class="modal-header">
												  <h5 class="modal-title" id="exampleModalLabel">Modifier membre</h5>
												  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<form class="row g-3" method="post" enctype="multipart/form-data" action="{% url 'editEquipe' equipe.pk %}">
														{% csrf_token %}
														<div class="col-md-6">
															<label for="inputEmail4" class="form-label">Nom et Prenoms</label>
															<input type="text" name="nomPrenom" value="{{equipe.nomPrenom}}" class="form-control" id="inputEmail4">
														</div>
														
														<div class="col-md-6">
															<label for="inputEmail4" class="form-label">Poste</label>
															<input type="text" name="poste" value="{{equipe.poste}}" class="form-control" id="inputEmail4">
														</div>
														
														<div class="mb-3">
															<label for="formFile" class="form-label">Photo de profile</label>
															<input class="form-control" value="{{equipe.image}}" name="photoPP" type="file">
														</div>
													  
												</div>
												<div class="modal-footer">
												  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
												  <button type="submit" class="btn btn-primary">Save changes</button>
												</div>
												</form>
											  </div>
											</div>
										  </div>
										{% comment %} suppression {% endcomment %}
										<div class="modal fade" id="confirmDeleteEquipe{{ equipe.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">Confirmer la suppression</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
													</div>
													<form class="row g-3" method="post" action="{% url 'deleteEquipe' equipe.pk %}">
														{% csrf_token %}
													<div class="modal-body">
														Êtes-vous sûr de vouloir supprimer ce membre ?
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
														<button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Sucess</button>
													</div>
													</form>
												</div>
											</div>
										</div>
										
										{% endfor %}
										{% else %}
										Pas de post fait
										{% endif %}
									</div>	
								
								 </li>
								
							</ul>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div><!-- main content -->
	
	{% comment %} Article edit {% endcomment %}
	<!-- Button trigger modal -->
  
  <!-- Modal -->
  {% comment %} <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<form class="row g-3" method="patch" action="{% url 'profile/Article/' actualite.id %}">
				<div class="col-md-6">
				  <label for="inputEmail4" class="form-label">Titre</label>
				  <input type="text" class="form-control" id="inputEmail4" value="{{actualite.titre}}">
				</div>
				<div class="col-md-12">
				  <div class="form-floating">
					<textarea class="form-control" placeholder="Contenu" id="floatingTextarea2" style="height: 100px">{{actualite.content}}</textarea>
					<label for="floatingTextarea2">Comments</label>
				  </div>
				</div>
			  </form>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary">Save changes</button>
		</div>
	  </div>
	</div>
  </div> {% endcomment %}

  <div class="modal fade" id="CreateArticle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Faire un article</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<form class="row g-3" method="post" action="{% url 'CreateArt' %}" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="col-md-6">
				  <label for="inputEmail4" class="form-label">Titre</label>
				  <input type="text" name="titre" class="form-control" id="inputEmail4">
				</div>
				<div class="col-md-12">
				  <div class="form-floating">
					<textarea class="form-control" name="content" placeholder="Contenu" id="floatingTextarea2" style="height: 100px"></textarea>
					<label for="floatingTextarea2">Comments</label>
				  </div>
				</div>
				<div class="mb-3">
					<label for="formFile" class="form-label">Photo</label>
					<input class="form-control" name="photoPP" type="file">
				</div>
			  
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="submit" class="btn btn-primary">Save changes</button>
		</div>
		</form>
	  </div>
	</div>
  </div>


  
  {% comment %} Create Propo {% endcomment %}
  <div class="modal fade" id="CreateProp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Faire une proposition</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<form class="row g-3" method="post" enctype="multipart/form-data" action="{% url 'CreateProp' %}">
				{% csrf_token %}
				<div class="col-md-12">
					<select class="form-select" name="themes_cles_id" aria-label="Default select example">
						<option selected disabled>Selectionnez un thème</option>
						{% if all_theme %}
						{% for theme in all_theme %}
						<option value="{{theme.pk}}">{{theme.libelle_themes_cles}}</option>
						{% endfor %}
						{% else %}
						<option value="#">Pas de thème disponible</option>
						{% endif %}
					</select>
				  </div>
				
				<div class="col-md-12">
				  <div class="form-floating">
					<textarea class="form-control" name="libelle_proposition" id="floatingTextarea2" style="height: 100px"></textarea>
					<label for="floatingTextarea2">Proposition</label>
				  </div>
				</div>
			  
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="submit" class="btn btn-primary">Save changes</button>
		</div>
		</form>
	  </div>
	</div>
  </div>
  
  {% comment %} Create Membre {% endcomment %}
  <div class="modal fade" id="CreateEquipe" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Nouveau membre</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<form class="row g-3" method="post" enctype="multipart/form-data" action="{% url 'CreateEquipe' %}">
				{% csrf_token %}
				<div class="col-md-6">
					<label for="inputEmail4" class="form-label">Nom et Prenoms</label>
					<input type="text" name="nomPrenom" class="form-control" id="inputEmail4">
				</div>
				
				<div class="col-md-6">
					<label for="inputEmail4" class="form-label">Poste</label>
					<input type="text" name="poste" class="form-control" id="inputEmail4">
				</div>
				
				<div class="mb-3">
					<label for="formFile" class="form-label">Photo de profile</label>
					<input class="form-control" name="photoPP" type="file">
				</div>
			  
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="submit" class="btn btn-primary">Save changes</button>
		</div>
		</form>
	  </div>
	</div>
  </div>
  
  {% comment %} edit candidant {% endcomment %}
  <div class="modal fade" id="EditInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Mes infos</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<form class="row g-3" method="post" action="{% url 'edit-candidat' %}" enctype="multipart/form-data">
				{% csrf_token %}
				
				<div class="col-md-6">
					<div class="form-floating">
						<input type="text" name="nom" value="{{user.candidat.nom}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
						<label for="floatingTextarea2">Nom</label>
				  </div>
				</div>
				<div class="col-md-6">
				  	<div class="form-floating">
						<input type="text" name="prenoms" value="{{user.candidat.prenoms}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
						<label for="floatingTextarea2">Prenoms</label>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-floating">
						<input type="text" name="surnom" value="{{user.candidat.surnom}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
						<label for="floatingTextarea2">Surnom</label>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-floating">
						<input type="date" name="date_naissance" value="{{user.candidat.date_naissance|date:'Y-m-d'}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
						<label for="floatingTextarea2">date_naissance</label>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-floating">
						<input type="text" name="lieu_naissance" value="{{user.candidat.lieu_naissance}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
						<label for="floatingTextarea2">lieu_naissance</label>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-floating">
						<input type="text" name="parti_politique" value="{{user.candidat.parti_politique}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
						<label for="floatingTextarea2">parti_politique</label>
					</div>
				</div>
				<div class="col-md-6">
					<select class="form-select" name="Ville" aria-label="Default select example">
						<option selected disabled>localisation</option>

						{% for localisation in localisations %}
						<option value="{{localisation.pk}}" {% if localisation.pk == user.candidat.Ville.pk %} selected {% endif %}>{{localisation.libelle}}</option>
						{% endfor %}
						
					</select>
				</div>
				<div class="col-md-6">
					<select class="form-select" name="sexe" aria-label="">
						<option disabled>Sexe</option>

						<option value="Masculin" {% if user.candidat.sexe == 'Masculin' %} selected {% endif %}>Masculin</option>
						
						<option value="Feminin" {% if user.candidat.sexe == 'Feminin' %} selected {% endif %}>Feminin</option>
					</select>
				</div>
				<div class="col-md-12">
					<div class="form-floating">
					  <textarea class="form-control" name="biographie" id="floatingTextarea2" style="height: 100px">{{user.candidat.biographie}}</textarea>
					  <label for="floatingTextarea2">Biographie</label>
					</div>
				</div>
				<div class="mb-3">
					<label for="formFile" class="form-label">Photo de profile</label>
					<input class="form-control" name="photoPP" type="file">
				</div>
				<div class="mb-3">
					<label for="formFile" class="form-label">Photo de fond</label>
					<input class="form-control" name="photoFond" type="file">
				</div>
									
			  
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
		  <button type="submit" class="btn btn-primary">Enregistrer</button>
		</div>
		</form>
	  </div>
	</div>
  </div>
	{% endblock content %}
