{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{%static 'css/main.min.css' %}" />
    <link rel="stylesheet" href="{%static 'css/styleC.css' %}" />
    <link rel="stylesheet" href="{%static 'css/responsive.css' %}" />
    <style>
      body {
        background: rgb(224, 224, 224);
      }
      polygon {
        fill: #7d7d7d;
        stroke: #fff;
        stroke-width: 0.2px;
      }
      polygon:hover {
        fill: #ff7200;
      }
      .map-container {
        width: 60%;
        height: 400px;
      }
      .svg-content {
        width: 100%;
        height: 90vh;
      }

      .tooltipA {
        position: absolute;
        background-color: #027314;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        display: none;
        z-index: 9999;
      }

      .details-panel {
        position: fixed;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        display: none;
        z-index: 9999;
      }
    </style>
  </head>
  <body>
    <header class="">
      <div class="topbar stick">
        <div class="logo">
          <img src="{% static 'img/Logo.png' %}" alt="" /><span></span>
        </div>
        <div class="searches">
          <form method="post">
            <input type="text" placeholder="Search..." />
            <button type="submit"><i class="icofont-search"></i></button>
            <span class="cancel-search"><i class="icofont-close"></i></span>
            <div class="recent-search">
              <h4 class="recent-searches">Your's Recent Search</h4>
            </div>
          </form>
        </div>

        <ul class="web-elements">
          <li>
            <div
              class="user-dp"
              style="
                border: 1px solid rgb(2, 115, 20);
                background: rgb(224, 224, 224);
              "
            >
              <a href="profile" title="">
                <img alt="" src="images/resources/user.jpg" />
                <div class="name">
                  {% comment %}
                  <h4>{{user.username}}</h4>
                  {% endcomment %}
                  <h4>{{user.username}}</h4>
                  {% comment %}
                  <h4>{{user.groups.get}}</h4>
                  {% endcomment %}
                </div>
              </a>
            </div>
          </li>
          <li>
            <a
              style="
                border: 1px solid rgb(2, 115, 20);
                background: rgb(224, 224, 224);
              "
              class="mesg-notif"
              href="#"
              title="Notifications"
              data-toggle="tooltip"
            >
              <i>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-bell"
                >
                  <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                  <path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg
              ></i>
            </a>
            <span></span>
          </li>
          <li>
            <a
              style="
                border: 1px solid rgb(2, 115, 20);
                background: rgb(224, 224, 224);
              "
              class="create"
              href="#"
              title="Add New"
              data-toggle="tooltip"
            >
              <i>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-plus"
                >
                  <line x1="12" y1="5" x2="12" y2="19"></line>
                  <line x1="5" y1="12" x2="19" y2="12"></line></svg
              ></i>
            </a>
            <ul class="dropdown">
              <li>
                <a href="#" title=""
                  ><i class="icofont-user-alt-3"></i> Mon Profil</a
                >
              </li>
              <li class="logout">
                <a href="/" title=""><i class="icofont-power"></i> Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </header>
    <!-- header -->
    <div class="map-container">
      <svg class="svg-content" viewBox="0 0 100 100" preserveAspectRatio="none">
        {% for zones in zone %}
        <polygon
          data-name="{{ zones.nom_zone }}"
          id="{{ zones.id_zone }}"
          points="{{ zones.point }}"
        ></polygon>
        {% endfor %}
      </svg>
    </div>

    <script>
      // Get all the polygon elements
      const polygons = document.querySelectorAll("polygon");

      // Create a tooltipA element for hovering
      const tooltipA = document.createElement("div");
      tooltipA.className = "tooltipA";
      document.body.appendChild(tooltipA);

      // Create a details panel for clicking
      const detailsPanel = document.createElement("div");
      detailsPanel.className = "details-panel";
      detailsPanel.style.display = "none";
      document.body.appendChild(detailsPanel);

      // Add event listeners to each polygon
      polygons.forEach((polygon) => {
        polygon.addEventListener("mouseenter", (event) => {
          const polygonName = event.target.getAttribute("data-name");
          tooltipA.innerText = polygonName;
          tooltipA.style.top = `${event.clientY + 10}px`;
          tooltipA.style.left = `${event.clientX + 10}px`;
          tooltipA.style.display = "block";
        });

        polygon.addEventListener("mouseleave", () => {
          tooltipA.style.display = "none";
        });

        polygon.addEventListener("click", (event) => {
          const polygonName = event.target.getAttribute("data-name");
          const polygonId = event.target.getAttribute("id");
          detailsPanel.innerHTML = `
          <h2>${polygonName}</h2>
          <div class="mb-2 mt-2"> 
            <p>Candidat favori: uzu</p>
            
          </div>
          <div>
            <a class="btn btn-success" href="/vote/${polygonId}">Participez au sondage</a> 
            <button class="btn btn-danger" id="closeButton">Close</button>
          </div>
          
        `;
          detailsPanel.style.bottom = "20px";
          detailsPanel.style.right = "20px";
          detailsPanel.style.display = "block";

          const closeButton = detailsPanel.querySelector("#closeButton");
          closeButton.addEventListener("click", () => {
            detailsPanel.style.display = "none";
          });
        });
      });
    </script>
  </body>
</html>
