{% load static %}
<html>
  <head>
    <title>Resultat</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{%static 'css/main.min.css' %}" />
    <link rel="stylesheet" href="{%static 'css/styleC.css' %}" />
    <link rel="stylesheet" href="{%static 'css/responsive.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/vote/css/styleR.css' %}"
    />
  </head>

  <body class="gradients">
    <header class="">
		<div class="topbar stick">
			<div class="logo"><img src="{% static 'img/Logo.png' %}" alt=""><span></span></div>
			<div class="searches">
				<form method="post">
					<input type="text" placeholder="Search...">
					<button type="submit"><i class="icofont-search"></i></button>
					<span class="cancel-search"><i class="icofont-close"></i></span>
					<div class="recent-search">
						<h4 class="recent-searches">Your's Recent Search</h4>
					</div>
				</form>
			</div>
			
			<ul class="web-elements">
				<li>
					<div class="user-dp" style="border: 1px solid rgb(2, 115, 20); background: rgb(224, 224, 224)">
						<a href="profile" title="" >
							<img alt="" src="images/resources/user.jpg">
							<div class="name" >
								{% comment %} <h4>{{user.username}}</h4> {% endcomment %}
								<h4>{{user.username}}</h4>
								{% comment %} <h4>{{user.groups.get}}</h4> {% endcomment %}
							</div>
						</a>	
					</div>
				</li>
				<li >
					<a style="border: 1px solid rgb(2, 115, 20); background: rgb(224, 224, 224)" class="mesg-notif" href="#" title="Notifications" data-toggle="tooltip">
						<i>
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg></i>
					</a>
					<span></span>
				</li>
				<li>
					<a style="border: 1px solid rgb(2, 115, 20); background: rgb(224, 224, 224)" class="create" href="#" title="Add New" data-toggle="tooltip">
						<i>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg></i>
					</a>
					<ul class="dropdown">
						<li><a href="#" title=""><i class="icofont-user-alt-3"></i> Mon Profil</a></li>
						<li class="logout"><a href="/" title=""><i class="icofont-power"></i> Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
		
	</header><!-- header -->

    <!-- header -->
    {% if vote %}
    <div class="container">
      {% if deuxieme_candidat %} {% if deuxieme_candidat != none %}
      <div class="second item">
        <div class="winner-item">
          <p class="h1" style="color: black">{{ deuxieme_candidat.nom }}</p>
        </div>
        <div class="prize-item">
          <p class="award">Choix #2</p>
          <p class="prize">{{ deuxieme_candidat.biographie }}</p>
        </div>
      </div>
      {% endif %} {% endif %} {% if premier_candidat %}
      <div class="first item">
        <div class="winner-item">
          <p class="h1" style="color: black">{{ premier_candidat.nom }}</p>
        </div>
        <div class="prize-item">
          <p class="award">Choix #1</p>
          <p class="prize">{{ premier_candidat.biographie }}</p>
        </div>
      </div>
      {% endif %} {% if troisieme_candidat %}
      <div class="third item">
        <div class="winner-item">
          <p class="h1" style="color: black">{{ troisieme_candidat.nom }}</p>
        </div>
        <div class="prize-item">
          <p class="award">Choix #3</p>
          <p class="prize">{{ troisieme_candidat.biographie }}</p>
        </div>
      </div>
      {% endif %}
    </div>

    <div class="other-prizes">
      <ul class="other-prizes-ul">
        {% for vot in vote %}
        <li class="other-prize-li mt-4">
          <div class="other-prize-container">
            <div class="number">#</div>
            <div class="other-prize">{{ vot.nom }} {{ vot.prenoms }}</div>
          </div>
          <div
            style="display: flex; justify-content: space-between"
            class="other-prize-winner-container"
          >
            <p></p>
            <a href="/candidat/{{ vot.id_candidat }}">Voir profile</a>
          </div>

          <div class="progress" style="background: rgb(224, 224, 224)">
            <div
              class="progress-bar"
              style="background: rgb(2, 115, 20)"
              id="myDiv{{ vot.id_candidat }}"
              style=""
            ></div>
          </div>
          <script>
            vale =  {{ vot.num_votes_pour }} / {{ nbr_total_vote }}
            vale_pourcent = vale * 100
            console.log(vale_pourcent)
            var divElement = document.getElementById("myDiv{{ vot.id_candidat }}");
            divElement.style.width = vale_pourcent+"%";
          </script>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </body>
  <script src="{% static '/vote/js/resulta.js' %}"></script>
</html>
